.alucard0x1--card-container {
    display: grid;
    gap: 34px; /* Sets both row and column gap to 34px */
    padding: 0; /* Ensure no additional padding around the grid */
}

.alucard0x1--card {
    width: 100%; /* The card will take 100% of its grid column */
    font-family: "Segoe UI", Arial, sans-serif;
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove any margin */
}

.alucard0x1--card-image {
    width: 100%;
    height: 207px !important; /* Fixed height */
    object-fit: cover; /* Ensures the image maintains its aspect ratio while covering the area */
    display: block;
}

.alucard0x1--content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alucard0x1--content h2 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
}

.alucard0x1--content p {
    margin: 0 0 16px;
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

.alucard0x1--footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* Changed from center to baseline */
    padding-top: 12px;
    font-size: 12px;
}

.alucard0x1--author {
    display: flex;
    align-items: center;
}

.alucard0x1--author img {
    width: 36px;
    height: 36px;
    border-radius: 50% !important;
    margin-right: 8px;
}

.alucard0x1--name {
    font-weight: bold;
    color: #333;
}

.alucard0x1--date {
    color: #555;
    /* Optional: Adjust font size for better alignment */
    /* font-size: 14px; */
}

.alucard0x1--category {
    color: #e74c3c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 2px; /* Adjust this value as needed */
}


.alucard0x1--card-link {
    text-decoration: none;
    color: inherit;
    display: block; /* Ensure the link covers the entire card */
}

.alucard0x1--card-link:hover .alucard0x1--card,
.alucard0x1--card-link:focus .alucard0x1--card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.alucard0x1--card-link:focus {
    outline: none;
}




/* Responsive Design */
@media (max-width: 1024px) {
    .alucard0x1--card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
        gap: 34px;
    }
}

@media (max-width: 768px) {
    .alucard0x1--card-container {
        grid-template-columns: 1fr; /* 1 column on mobile */
        gap: 34px;
    }
}
